@{
    ViewData["Title"] = "Home Page";
}

<div class="content">
    <div class="container">
        <div class="col-auto p-5 text-center">
            <h1 class="text-white">Tienda de Ingenieria</h1>
        </div>
    </div>
</div>
